<h1>&nbsp</h1>
<img src="https://wicloud.infinitecampus.org/campus/personPicture.jsp?personID=443&alt=logo">
<h2>Lucas Houchin-Miller</h2>
<p>Lucas has been coding for the past 3-4 years in CTD classes. The first coding class he took was Bits & Blocks: An Introduction to Computer Programming with TJ Leone. The next class he took was Introduction to Programming in Java with Bryan Meyers.</p>