<h1>Home</h1>
<img src = "http://educationduniya.files.wordpress.com/2013/02/happy20students1.png">
<p> Welcome to Pic Your Notes! Be sure to study every night before bed, and get a good night's sleep before a big test. Take organized notes and read over them as you work through difficult questions.</p>
<div class="col-md-2">
  <img src=http://www20.csueastbay.edu/prospective/files/images/fourstudents.jpg class="a">
    </div>
     <div class="col-md-2">
  <img src=http://thumbs.dreamstime.com/z/happy-students-28113985.jpg class="b">
    </div>
     <div class="col-md-2">
  <img src=http://www.imacs.org/filedata/imacsweb2013/_img/kids-hands-up.png class="c">
    </div>