<h1>New Note</h1>

<form action="/create_note">
  <div>
    <label for="picture_id">picture_id</label><br />
    <input id="picture_id" name="picture_id" type="text" />
  </div>
  <div>
    <label for="desc">desc</label><br />
    <input id="desc" name="desc" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

