<h1>&nbsp</h1>
<center>
<h1>New Picture</h1>
<form action="/create_picture">
  <div>
    <label for="img_url">img_url</label><br />
    <input id="img_url" name="img_url" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="user_id">user_id</label><br />
    <input id="user_id" name="user_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>
</center>